body {
  background: radial-gradient(#626D71,#D2C5C5) no-repeat center center fixed;
  height: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body, html { 
  overflow-x:hidden; 
}

#section1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#B38867,#DDBC95);
  color:#474f52;
  font-family: "Arial Black", Gadget, sans-serif  

}

#section2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#DDBC95,#B38867);
  color:#474f52;
  flex-direction: column;
}

#amount{
  margin-bottom: 10px;
}



@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

.page{
  width:25%;
  margin-bottom: 5px;
}

.page:hover{
  background-color: #bfbfbf;
}

.results{
  float:left;
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

.details{
  float:left;
  width:30%;
  text-align: center;
  }
}

.title{
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {


.page{
  width:35%;
}

.page:hover{
  background-color: #bfbfbf;
}

.results{
  float:left;
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

.details{
  float:left;
  margin-bottom: 10px;
  width:30%;
  }
}


@media (min-width: 320px) and (max-width: 760px) {

.page{
  width:70%;
}

.page:hover{
background-color: #bfbfbf
}

.results{
  float:left;
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

.details{
  float:left; 
  width:30%;
  }
}